
#libraries
numpy 
pandas


# FACE RECONGINATION
sckit-learn   #can be used for classification purpose
dlib-bin       #face recognition
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

supabase
bcrypt

segno
pillow

streamlitpip